<%= javascript_include_tag "highcharts" %>
<h1>Listing tx_to_dates</h1><br>

<%= link_to 'rx by days', rx_by_days_path %>
<%= link_to 'tx by days', tx_by_days_path %>
<%= link_to 'rx by hours', rx_by_hours_path %>
<%= link_to 'tx by hours', tx_by_hours_path %>
<br>
<br>
<br>

<input type="text" id="txsearch" value="search"></input> 
<br />
<table id="tb">
  
  <thead>
  <tr>
    
    <th>date</th>
     <th>sum</th>
  </tr>
</thead>
<% @tx_by_days.each do |tx_by_day| %>
  <tbody>
  <tr>
      <th><%=tx_by_day.date1%></th>
  <td><%="%.2f" %((tx_by_day.count_minutes.to_f)/60)%></td>
   
  </tr>
<% end %>
</tbody>
</table>

<br />
<div id="container"></div>


  
 