<h1>wellcome powermat</h1>
<%= link_to 'rx by days', rx_by_days_path %>
<%= link_to 'tx group dates', tx_group_dates_path %>
<%= link_to 'tx by days', tx_by_days_path %>
<%= link_to 'rx by hours', rx_by_hours_path %>
<%= link_to 'tx by hours', tx_by_hours_path %>
<%= link_to 'trygruffs', trygruffs_path %>
<%= link_to 'tx to dates', tx_to_dates_path %>
</br>